body {
  margin: 0 auto;
  padding: 0px;
  text-align: center;

}


h5 {
  color: #FFF;
  size: 40px;
}

input {

}

.container {
  margin-top: 100px;
}

.formcontainer {
  display: inline-block;
}

label {
  color: #FFF;
}

.selDone + label {
  color: #888;
}

.selDone:checked + label {
  color: #FFF;
}

.hide {
  display: none;
}

.scorebox {
  margin: 200px auto;
  width: 100%;
  font-size: 50px;
}
